
<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">Connecter-vous</h3>
                    <form [formGroup]="loginForm" (ngSubmit)="login()" >
                        <fieldset class="p-4">
                            <input type="text" placeholder="nom d'administrateur" formControlName="email" name="email" class="border p-3 w-100 my-2">
                            <input type="password" placeholder="mot de passe" formControlName="password" name="password" class="border p-3 w-100 my-2">
                           
                            <div class="alert alert-danger" ></div>
                            <button type="submit" class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3">Connexion</button>
                            <a routerLink="verification">Mot de passe oublié</a>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>